extends baseEmail 

block content
  p Hi #{firstName},
  p You are receiving this email because you (or someone else) have requested the reset of the password for your account.
    Please click on the following link, or paste this into your browser to complete the process: #{url}
  p (Website for this action not yet Implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') reset your pPassword
  p If you did not request this, please ignore this email and your password will remain unchanged.
